// Place all the styles related to the Sequence controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.poseBuilder {
  display: none;
  margin-left: 15px;
}

body {
  background: url('yogabackground.jpg') repeat-x 50% 50% fixed;
  background-size: cover;
}

.select_sequence {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  color: #FDC72E;
}

#select_menu {
  margin-top: 30px;
}


#newSequenceLink {
  text-align: center;
  font-size: 2em;
  color: #FDC72E;
  margin-top: 300px;
}

a:visited {
  color: #B98821;
  }

a:link {
  color: #B98821;
}

a:hover {
  color: #A5280F;
}

a:active {
  color: #A5280F;
}

#user_widget {
  text-align: center;
  margin-top: 500px;
}

.navBar {
}
