// Place all the styles related to the Sequence controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.poseBuilder {
  display: none;
  margin-left: 15px;
}

body {
  background: url('yogabackground.jpg') repeat-x 50% 50% fixed;
  background-size: cover;
  font-family: Verdana, Geneva, sans-serif;
}

.select_sequence {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  color: #FDC72E;
}

#select_menu {
  margin-top: 30px;
}


#newSequenceLink {
  text-align: center;
  font-size: 2em;
  color: #FDC72E;
  margin-top: 20%;
}

a:visited {
  color: #B98821;
  }

a:link {
  color: #B98821;
}

a:hover {
  color: #A5280F;
}

a:active {
  color: #A5280F;
}

#user_widget {
  text-align: center;
  margin-top: 26%;
  padding-left: 20px;
}

.navBar {
}

#welcome {
  color: #E76D1F;
}

.sequenceDetails {
  margin-top: 60px;
  text-align: center;
  color: #FDC72E;
}

#sequenceTitle {

}

#sequenceDifficulty {
  margin-top: 24%;
  padding-left: 20px;
}

#newSequenceHeader {
  margin-top: 60px;
  text-align: center;
  color: #FDC72E;
}

#newSequenceForm {
  text-align: center;
  background: rgba(255, 255, 255, 0.6);
  width: 30%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
  padding: 10px;
  font-weight: bold;
  border: 10px solid gray;
}

.newSequencePoses {
  padding: 10px;
}

#sequencePoses {
  text-align: center;
  background: rgba(255, 255, 255, 0.6);
  width: 30%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
  padding: 10px;
  font-weight: bold;
  border: 10px solid gray;
}
